<%= link_to image_tag("realjuu.png", alt: "realjuu"), 'http://rubyonrails.org/' %>
<div class="center hero-unit">
  <h1>リア充を駆逐してやります。</h1>

  <h2>
    マカオから来たエンジニア初心者が作ったサンプルページです。<br>
    <a href="http://chonmeng-wong.hateblo.jp/">こちらは学習ブログです</a><br>
    sample application.
  </h2>

  <%= link_to "自宅警備員に加入する", signup_path, class: "btn btn-large btn-primary" %>
</div>

